<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scale=0;" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{$_SESSION['back_shop']['name']} 餐饮管理系统</title>
    <link rel="apple-touch-icon-precomposed" href="/Uploads/{$_SESSION['back_shop']['logo']}"/>
    <link rel="stylesheet" href="__PUBLIC__/mobile/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/mobile/css/indexstyle.css">
    <!-- <link rel="stylesheet" href="__PUBLIC__/mobile/css/datetimepicker_blue.css"> -->
    <script src="__PUBLIC__/mobile/js/jquery-3.1.1.js"></script>
    <!-- <script src="__PUBLIC__/mobile/js/bootstrap-datetimepicker.min.js"></script>
    <script src="__PUBLIC__/mobile/js/bootstrap-datetimepicker.zh-CN.js"></script> -->
    <script src="__PUBLIC__/mobile/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/admin/js/getDateRange.js"></script>
</head>
<body>