<include file="Public/header"/>
	<form action="{:U('Admin/add')}" method="post" role="form">
		<div class="form-group">
			<label for="gonghao">工号:</label>
			<input type="text" name="username" class ="form-control"/>
		</div>
		<div class="form-group">
			<label for="gonghao">密码:</label>
			<input type="password" name="password" class ="form-control"/>
		</div>
		<div class="form-group">
			<label for="gonghao">真实姓名:</label>
			<input type="text" name="nickname" class ="form-control"/>
		</div>
		<div class="form-group">
			<label for="level">级别:</label>
			<select name="level" class="form-control input-lg">
			 	 <option value="0">普通员工</option>
			 	 <option value="1">管理员</option>
			 	 <!-- <option value="2">超级管理员</option> -->
			</select>
		</div>
		<input type="submit" value="确定" class="btn btn-default"/>
	</form>
</body>
</html>